.text-input-modal {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  #discription-container {
    position: relative;
    flex: 1;
    align-self: stretch;
  }
  .discription {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 20px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;

    color: #000000;
  }
  .go-button {
    flex: 1;
  }
}
